@model WebApp.SaleManagement.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Welcome Admin!</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon text-primary border-primary">
                            <i class="fe fe-users"></i>
                        </span>
                        <div class="dash-count">
                            <h3>@Model.Customers</h3>
                        </div>
                    </div>
                    <div class="dash-widget-info">
                        <h6 class="text-muted">Customers</h6>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-primary w-50"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon text-danger border-danger">
                            <i class="fe fe-money"></i>
                        </span>
                        <div class="dash-count">
                            <h3>@Model.Orders</h3>
                        </div>
                    </div>
                    <div class="dash-widget-info">

                        <h6 class="text-muted">Orders</h6>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-danger w-50"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="dash-widget-icon text-warning border-warning">
                            <i class="fe fe-folder"></i>
                        </span>
                        <div class="dash-count">
                            <h3>@Model.Revenue.ToString("0.00") M</h3>
                        </div>
                    </div>
                    <div class="dash-widget-info">

                        <h6 class="text-muted">Revenue</h6>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-warning w-50"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-primary text-center">Đơn hàng trong tuần</h3>
    <div class="row">

        <div class="col-md-12 col-lg-6">

            <!-- Sales Chart -->
            <div class="card card-chart">
                <div class="card-header">
                    <h4 class="card-title">Revenue</h4>
                </div>
                <div class="card-body">
                    <div id="linechart"></div>
                </div>
            </div>
            <!-- /Sales Chart -->

        </div>
        <div class="col-md-12 col-lg-6">

            <!-- Invoice Chart -->
            <div class="card card-chart">
                <div class="card-header">
                    <h4 class="card-title">Order And Revenue</h4>
                </div>
                <div class="card-body">
                    <div id="barchart"></div>
                </div>
            </div>
            <!-- /Invoice Chart -->

        </div>
    </div>
    <div class="row">

        <div class="col-md-12 d-flex">

            <!-- Feed Activity -->
            <div class="card  card-table flex-fill">
                <div class="card-header">
                    <h4 class="card-title">New Customers List</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Customer Name</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>JoinDate</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListCustomers)
                                {
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">

                                                <a href="profile.html"> @item.Name</a>
                                            </h2>
                                        </td>
                                        <td>@item.Phone</td>
                                        <td>@item.Address</td>
                                        <td>
                                            @item.JoinDate
                                        </td>
                                        <td>
                                            <form method="get" class="actions" asp-controller="Customer" asp-action="Details" asp-route-id="@item.Id">
                                                <button type="submit" class="btn btn-sm bg-primary-light ">
                                                    <i class="fe fe-eye"></i> Details
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Feed Activity -->

        </div>
    </div>

</div>
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            dataType: "json",
            contentType: "application/json",
            url: '/Admin/OrderRevenue',
            success: function (result) {

                drawChart(result);

            }
        });

        function drawChart(result) {
         var chart=new Morris.Bar({
                element: 'barchart',
             data: result,

                xkey: 'ngay',
                ykeys: ['tongTien', 'soLuong'],
               
                labels: ['Tổng tiền','Số lượng'],
                hideHover: 'auto',
                behaveLikeLine:true,
                barColors: ['#188ae2','#FF8C00'],
            });
         var line=new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'linechart',

                // Chart data records -- each entry in this array corresponds to a point
                // on the chart.
                data: result,

                // The name of the data record attribute that contains x-values.
                xkey: 'ngay',

                // A list of names of data record attributes that contain y-values.
                ykeys: ['tongTien'],

                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Tổng tiền'],

             lineColors: ['#FF8C00'],
             xLabels: 'ngay',
             yLabelFormat: function (y) { return y.toString() + ' M'; },
             resize: true,
             parseTime: false
                 

            });
        }


    });

</script>